@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Turret+Road:wght@200;300;400;500;700;800&display=swap');

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}

:root {
  --main-color: #FE5B3D;
  --second-color: #FFAC38;
  --text-color: #444444;
  --gradient: linear-gradient(#FE5B3D, #FFAC38);
}

html::-webkit-scrollbar {
  width: 0.5rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #8c00ff;
  border-radius: 5rem;
}

section {
  padding: 50px 100px;
}

header {
  width: 100%;
  top: 0;
  right: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff17;
  padding: 15px 30px;
}

.logo {
  color: #6200ff
}

.navbar {
  display: flex;
}

.navbar li {
  position: relative;
}

.navbar a {
  font-size: 1rem;
  padding: 10px 20px;
  color: black;
  font-weight: 500;
}

.navbar a::after {
  content: '';
  width: 0;
  height: 3px;
  background: #3700ff;
  bottom: -4px;
  left: 0;
  transition: .5s;
  position: absolute;
}

.navbar a:hover::after {
  width: 100%;
}

header .ri-close-line {
  display: none;
}

#menu-icon {
  font-size: 24px;
  cursor: pointer;
  z-index: 110;
  display: none;
}

.header-btn a {
  padding: 10px 20px;
  color: var(--text-color);
  font-weight: 500;
}

.header-btn .sign-in {
  background: #474FA0;
  color: #FFFFFF;
  border-radius: .5rem;
  transition: .5s;
}


/* ---------------------------------------------------------------------------------------------------------------- */

.home {
  display: grid;
  /* Adicionado */
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  min-height: 100vh;
  position: relative;
  align-items: center;
  /* Alinha os itens verticalmente */
  padding-left: 5%;
  padding-right: 0;
}

.profile-imagem {
  width: 100%;
  max-width: 990px;
  transition: transform 2s ease-in-out;
  animation: flutuar 3s ease-in-out infinite;
}


/* ---------------------------------------------------------------------------------------------------------------- */

.text h1 {
  font-size: 3.5rem;
  letter-spacing: 2px;
}

.text span {
  color:#8c00ff
}

.text p {
  margin: 0.5rem 0 1rem;
  font-size: 1.5rem;
}

.app-stores {
  display: flex;
}

.app-stores img {
  width: 100px;
  margin-right: 1rem;
  cursor: pointer;
}

.form-container form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  position: absolute;
  bottom: 4rem;
  left: 100px;
  background: #FFFFFF;
  padding: 20px;
  border-radius: .5rem;
}

.form-container form .btn {
  flex: 1 1 7rem;
  padding: 10px 34px;
  border: none;
  border-radius: .5rem;
  background: #474FA0;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.form-container form .btn:hover {
  transition: .5s;
  background: var(--main-color);
}

.input-box {
  flex: 1 1 7rem;
  display: flex;
  flex-direction: column;
}

.input-box span {
  font-weight: 500;
}

.input-box input {
  padding: 7px;
  outline: none;
  border: none;
  background: #EEEFF1;
  border-radius: .5rem;
  font-size: 1rem;
}

/* Ride */

.heading {
  text-align: center;
}

.heading span {
  font-weight: 500;
  text-transform: uppercase;
}

.heading h1 {
  font-size: 2rem;
}

.ride-container {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  gap: 1rem;
  margin-top: 2rem;
}

.ride-container .box {
  text-align: center;
  padding: 20px;
}

.ride-container .box i {
  font-size: 34px;
  padding: 7px;
  background: #EEEFF1;
  border-radius: .5rem;
  color: #5900ff;
}

.ride-container .box i:hover {
  background: #5900ff;
  color: #FFFFFF;
}

.ride-container .box h2 {
  font-size: 1.3rem;
  font-weight: 500;
  margin: 1.1rem 0 0.5rem;
}

/* Services */

.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 1rem;
  margin-top: 2rem;
}

.services-container .box {
  padding: 10px;
  border-radius: 1rem;
  box-shadow: 1px 4px 41px #5900ff67;
}

.services-container .box .box-img {
  width: 100%;
  height: 200px;
}

.services-container .box .box-img img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  object-fit: cover;
  object-position: center;
}

.services-container .box p {
  padding: 0 10px;
  border: 1px solid #5900ff;
  width: 58px;
  border-radius: .5rem;
  margin: 1rem 0 1rem;
}

.services-container .box h3 {
  font-weight: 500;
}

.services-container .box h2 {
  font-size: 0.9rem;
  font-weight: 600;
  color: #5900ff;
  margin: 0.2rem 0 0.5rem;
}

.services-container .box h2 span {
  font-size: .8rem;
  font-weight: 500;
  color: var(--text-color);
}

.services-container .box .btn {
  display: flex;
  justify-content: center;
  background: #5900ff;
  color: #FFFFFF;
  padding: 10px;
  border-radius: .5rem;
  transition: .5s;
}

.services-container .box .btn:hover {
  background: #00848d;
}

/* About */

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}


.about-img img {
  width: 100%;
}

.about-text span {
  align-items: center;
  font-weight: 700;
  color: #5900ff;;
  text-transform: uppercase;
}

.about-text p {
  margin: 0.5rem 0 1.4rem;
  max-width: 1200px;
  width: 100%;
  font-size: 20px;
}

.about-text .btn {
  padding: 10px 20px;
  background: #5900ff;
  color: #ffffff;
  border-radius: .5rem;
  transition: .5s;
  align-items: center;
}

.about-text .btn:hover {
  background: #00848d;
}

/* Reviews */

.reviews-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  gap: 1rem;
  margin-top: 2rem;
}

.reviews-container .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-shadow: 1px 4px 4px rgba(98, 0, 255, 0.315);
  border-radius: .5rem;
}

.reviews-container .box h2 {
  font-size: 1.1rem;
  font-weight: 600;
  margin: .5rem 0 .5rem;
}

.reviews-container .box p {
  font-style: italic;
}

.reviews-container .box i {
  color:#3700ff;
}

.rev-img {
  width: 70px;
  height: 70px;
}

.rev-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  border: 2px solid purple
}

/* Newsletter */

.newsletter {
  background: linear-gradient(to top right, #afa9bb, #3700ff);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter h2 {
  color: #ffffff;
  font-size: 1.8rem;
}

.newsletter .box {
  margin-top: 1rem;
  background: #ffffff;
  border-radius: .8rem;
  padding: 6px 8px;
  width: 350px;
  display: flex;
  justify-content: space-between;
}

.newsletter .box input {
  border: none;
  outline: none;
}

.newsletter .box .btn {
  background: #5900ff;
  color: #ffffff;
  padding: 8px 20px;
  border-radius: .5rem;
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright span {
  font-family: 'Turret Road';
}

.social a {
  color: #4f00e0;
  padding: 10px;
  font-size: 21px;
}

.email {
  color: #ffffff;
}


#home {
  scroll-margin-top: 60px; /* ou o valor da altura da sua navbar */
}

.descricao {
  color: #EEEFF1;
}

/* From Uiverse.io by R5Program */ 
.button {
  height: 50px;
  width: 50px;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  background-color: rgb(98, 0, 255);
  border: 2px solid #e0e0e0;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.2);
  display: flex;
  position: fixed;         /* <- Alterado de relative para fixed */
  bottom: 20px;            /* <- Distância da parte inferior */
  right: 20px;             /* <- Distância da lateral direita */
  transition: all 0.5s;
  justify-content: center;
  align-items: center;
}

.button::after {
  content: "Top";
  position: absolute;
  width: auto;
  background-color: white;
  font-size: 1em;
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 25px;
  top: -50px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
  transform: scale(0);
}
.svg {
  transition: all 0.5s;
}
.button:hover {
  transform: translateY(-3px);
  background-color: #00d9ff;
}
.button:hover .svg {
  fill: rgb(0, 0, 0);
  transform: scale(1.2);
}
.button:hover::after {
  transform: scale(1);
}
.button:active {
  transform: translateY(2px);
}



@keyframes bounce_513 {
  0%,
    100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}



/* Responsive */

@media(max-width: 1375px) {
  .text {
    display: none;
  }
}

@media(max-width: 991px) {
  header {
    padding: 18px 40px;
  }

  section {
    padding: 50px 40px;
  }
}

@media(max-width: 881px) {
  .home {
    background-position: center;
  }

  .form-container .form {
    bottom: 0.2rem;
    left: 40px;
  }

  .text {
    display: initial;
  }
}

@media(max-width: 795px) {
  header {
    padding: 11px 40px;
  }

  #menu-icon {
    display: initial;
  }

  .sign-up {
    display: none;
  }

  .text h1 {
    font-size: 2.5rem;
    width: 320px;
  }

  .text p {
    font-size: .8rem;
    width: 320px;
  }

  .home {
    grid-template-columns: 1fr;
  }

  .form-container form {
    position: unset;
  }

  header .navbar {
    position: absolute;
    top: -500px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .1);
    transition: .2s ease;
    text-align: left;
  }

  .navbar.active {
    top: 100%;
  }

  .navbar a {
    padding: 1rem;
    border-left: 2px solid var(--main-color);
    margin: 1rem;
    display: block;
    transition: .3s ease;
  }

  .navbar a:hover {
    color: #FFFFFF;
    background: var(--main-color);
    border: none;
  }

  .navbar a::after {
    display: none;
  }

  .heading span {
    font-size: .9rem;
    font-weight: 600;
  }

  .heading h1 {
    font-size: 1.3rem;
  }

  .about-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .about-img {
    padding: 1rem;
    order: 1;
  }

  .about-text {
    order: 2;
  }
}

@media(max-width: 568px) {
  .home {
    background-position: left;
  }

  .text h1 {
    width: 300px;
  }

  .text p {
    width: 300px;
  }

  .form-container {
    padding-top: 2rem;
  }

  .about-text p {
    font-size: 14px;
  }

  .copyright {
    flex-direction: column;
  }

  .newsletter .box {
    width: 284px;
  }
}

@media(max-width: 460px) {
  header {
    padding: 6px 14px;
  }

  .logo img {
    width: 30px;
  }

  section {
    padding: 50px 6px;
  }

  .header-btn .sign-in {
    padding: 7px 10px;
    font-size: 14px;
    font-weight: 400;
  }

  .text h1 {
    font-size: 2rem;
  }

  .services-container {
    grid-template-columns: repeat(auto-fit, minmax(254px, auto));
  }
}

/* Animação de flutuação lenta */
@keyframes flutuar {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}